/*  IPORTANT: Comment this way  and not JS way: "//" */


/*  better naming with camelCase than kebab-case */

.homeInfo {
  .mainTitle {
    color: #222 !important;
    font-weight: 800;
  }
  .lightNote {
    font-size: 0.7em;
  }
}

.navCards{
  background:#f7f7f7;
  height:302.5px;
}

.card {
  width: 173.5px;
  height: 205.5px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 0.5px #e7e7e7;
}
