/*  IPORTANT: Comment this way  and not JS way: "//" */

@import "../../style/_vars.scss";
@import "../../style/_mixins.scss";
/*  better naming with camelCase than kebab-case */

.homeInfo {
  .mainTitle {
    color: #222 !important;
    font-weight: 800;
  }
  .lightNote {
    font-size: 0.7em;
  }
}

.navCards{
  background:#f7f7f7;
  height:100%;
  flex-direction: row;
  display: flex;
}

.borderRight{
  border-right: solid 0.5px $LIGHT_GRAY;
}

.sectionDividerWhite {
  background: $WHITE;
}


.sectionDividerLightGray {
  background: $LIGHT_GRAY;;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;

    p, h1, h2, a{
    text-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
  }
}
